
<div style="margin-top: 70px;">
  
  <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand">VOCA Support</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a *ngIf="AuthStat && (UserRole=='100' || UserRole=='101')" class="nav-link active"
                              routerLinkActive="active" routerLink="users">User Management</a>
                      </li>
                      <li class="nav-item">
                          <a *ngIf="AuthStat && (UserRole=='100' )" class="nav-link active" routerLinkActive="active"
                              routerLink="myteam">My Team</a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link active" routerLinkActive="active"
                              routerLink="users">Users</a>
                      </li>
                      <li class="nav-item">
                          <a *ngIf="AuthStat && UserRole=='100'" class="nav-link active" routerLinkActive="active"
                              routerLink="edit-office">Edite
                              Office</a>
                      </li>
                      <li *ngIf="AuthStat && (UserRole=='100' || UserRole=='101')" class="nav-item dropdown"
                          routerLinkActive="active">
                          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              User Management
                          </a> -->
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" routerLink="">User Management</a></li>
                              <li><a *ngIf="AuthStat && UserRole=='100'" class="dropdown-item"
                                      routerLink="edit-office">Edite Office</a></li>
                              <li>
                                  <hr class="dropdown-divider">
                              </li>
                              <li><a *ngIf="AuthStat && UserRole=='100'" class="dropdown-item" href="#">Something else
                                      here</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">

                      </li>
                  </ul>
                  <!-- <input   class="btn btn-primary" type="button" [value]="AuthStat" (click)="logout()"> -->
                  <form class="d-flex">

                      <a *ngIf="UserName_.length==0" class="nav-link active" routerLinkActive="active"
                          routerLink="login">Login</a>
                      <a *ngIf="UserName_.length>0" class="nav-link active" routerLinkActive="active"
                          (click)="logout()">{{UserName_}} , SignOut </a>
                  </form>
              </div>
          </div>
      </nav>
  </div>

</div>

<div style="height: 100px;">
  <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="#  ">
          Ashraf Farag </a>
  </div>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="#  ">
        Ashraf Farag </a>
</div>
<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="#  ">
      Ashraf Farag </a>
</div>
</div>
<router-outlet></router-outlet>